.bb-dne-grid-table {
  text-align: center;
  max-width: max-content;

  --dne-grid-gray-20: #ededf0;
}

.bb-dne-grid-table td {
  border: 0.5px var(--dne-grid-gray-20) solid;
}

.tableFixHead {
  overflow: auto;
  height: 100px;
}

.tableFixHead thead tr {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--dne-grid-gray-20);
}
