.changedetails {
  max-width: 200px;
}

.changedetails-heading {
  width: 180px;
  text-align: center;
}

.changedetails-properties {
  padding: unset;
  margin: unset;
  border: unset;
  background-color: unset
}
